*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: rgb(245, 231, 233);
}
.parent{
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;


}
.container{
display: flex;
justify-content: center;
background-color: white;
width: 200px;
height: 200px;
margin: 2rem;
box-shadow: 10px 5px 5px #dbdada;
flex-wrap: wrap;
margin: 20px;

}

.square1{
width: 100px;
height: 100px;
background-color: gray;
display: flex;
align-self: center;
margin: 1.5rem;

}
.square2a{
    width: 100px;
    height: 100px;
    background-color: plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}

.square2b{
    width: 100px;
    height: 100px;
    background-color:plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.square2c{
    width: 100px;
    height: 100px;
    background-color:plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}

.square2d{
    width: 100px;
    height: 100px;
    background-color:plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}

.square2e{
    width: 100px;
    height: 100px;
    background-color:plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}

.square2f{
    width: 100px;
    height: 100px;
    background-color:plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}


.square2g{
    width: 100px;
    height: 100px;
    background-color:plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}

.square2h{
    width: 100px;
    height: 100px;
    background-color:plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}

.square2i{
    width: 100px;
    height: 100px;
    background-color: plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.square2j{
    width: 100px;
    height: 100px;
    background-color:plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.square2k{
    width: 100px;
    height: 100px;
    background-color:plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.square2l{
    width: 100px;
    height: 100px;
    background-color: plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.square2m{
    width: 100px;
    height: 100px;
    background-color:plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.square2n{
    width: 100px;
    height: 100px;
    background-color:plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.square2o{
    width: 100px;
    height: 100px;
    background-color: plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.square2p{
    width: 100px;
    height: 100px;
    background-color: plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.square2q{
    width: 100px;
    height: 100px;
    background-color: plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.square2r{
    width: 100px;
    height: 100px;
    background-color:plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.square2s{
    width: 100px;
    height: 100px;
    background-color:plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.square2t{
    width: 100px;
    height: 100px;
    background-color: plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.square2u{
    width: 100px;
    height: 100px;
    background-color: plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.square2v{
    width: 100px;
    height: 100px;
    background-color: plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.square2w{
    width: 100px;
    height: 100px;
    background-color: plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.square2x{
    width: 100px;
    height: 100px;
    background-color:plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.square2y{
    width: 100px;
    height: 100px;
    background-color:plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.square2z{
    width: 100px;
    height: 100px;
    background-color:plum;
    display: flex;
    align-self: center;
    transition-duration: 1s;
}
.span1{display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

.square2a:hover{
    transform-origin: center;
    transform: rotate(45deg); 

}

.square2b:hover{
   
    transform: rotateX(45deg);
    
}

.square2c:hover{
    transform: rotateY(45deg);
 
}

.square2d:hover{  transform: scale(1.5);

 
}
.square2e:hover{  transform: scalex(2);

 
}
.square2f:hover{
    transform: scaley(1.8);

}
.square2g:hover{
    transform: skew(45deg);
 
}
.square2h:hover{
    transform: skewy(45deg);

}
.square2i:hover{
    transform: translate(35px, 15px);
}
.square2j:hover{
    transform: translatex(50px);
}
.square2k:hover{
    transform: translatey(40px);
}

.square2l:hover{
    transform: skewy(45deg)scale(1.3) translatey(-3rem) ;
    transform-origin: left; 

}
.square2m:hover{
  transform: perspective(120px) rotateX(50deg);
}
.square2n:hover{
    transform: perspective(120px) rotatey(50deg);
  }

.square2o:hover{
  transform-origin: top right;
    transform: rotate(45deg)}
.square2p:hover{
  transform-origin: bottom left;
    transform: rotate(45deg)
  }

.square2q:hover{
    transform:   perspective(500px) rotateX(50deg) ;
    transform-origin: bottom ;
}
.square2r:hover{
    transform:   perspective(300px) rotateX(50deg) ;
    transform-origin: top ;
}
.square2s:hover{
    transform:   perspective(600px) rotatey(40deg) ;
    transform-origin: left ;
}
.square2t:hover{
    transform:   perspective(300px) rotatey(55deg) ;
    transform-origin: right ;
}
.square2u:hover{
    transform:   scale(1.5) ;
    transform-origin: top right ;
}
.square2v:hover{
    transform:   scale(1.5) ;
    transform-origin: bottom left ;
}
.square2w:hover{
    transform:   scalex(2) ;
    transform-origin: right ;
}
.square2x:hover{
    transform:   scalex(2) ;
    transform-origin: left ;
}
.square2y:hover{
    transform:   scaley(2) ;
    transform-origin: top ;
}
.square2z:hover{
    transform:   scaley(2) ;
    transform-origin: bottom ;
}